.category-details {
    padding: 0;
    margin: 0;
}

.category-details-add-post-link {
    font-weight: bold;
    margin-left: 5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.category-heading {
    padding: 0.3em;
    margin: 0.3em;
}

.category-posts {
    margin: inherit;
    padding: inherit;
    list-style: none;
}

.posts-item {
    background-color: #fbfbfb;
    padding: 0.5em;
    margin: 0.25em;
    border: 1px #f0f0f0 solid;
    border-radius: 3px;
    width: 66rem;
}
