.category-header {
    display: inline-block;
    background-color: darkgrey;
}

.category-teaser {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    color: midnightblue;
    font-weight: bold;
}

.category-sort {
    display: inline-block;
}

.category-sort span {
    font-size: smaller;
}

.category-sort select {
    margin: 0 0 0 0.25rem;
}

.category-link {
    padding: 10px;
    color: darkslateblue;
    display: inline-block;
    font-weight: normal;
}

.category-link-active {
    padding: 10px;
    color: darkslateblue;
    display: inline-block;
    font-weight: bolder;
}

