.app {
    text-align: center;
}

.app-header {
    background-color: #222;
    height: 3em;
    padding: 0.5em;
    color: white;
}

.app-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 2em;
}

.app-header-container {
    display: inline-block;
    vertical-align: middle;
    padding-top: 0.4em;
}

.app-feedback-container {
    padding: 0 0 0.25em 0.25em;
}

.app-feedback-container ul {
    list-style: none;
}

.app-main {
    text-align: left;
    padding-left: 0.75rem;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
