.categories-header {
    background-color: darkgrey;
}

.categories-teaser {
    padding-left: 20px;
    padding-right: 20px;
    color: midnightblue;
    display: inline-block;
    font-weight: bold;
}

.categories-link {
    padding: 10px;
    color: darkslateblue;
    display: inline-block;
    font-weight: bolder;
}

