.comment-main {
    margin-top: 0.25rem;
    padding: 0.25rem;
    display: inline-block;
}

.comment-panel {
    background-color: cadetblue;
    padding: 0.5rem;
    border-radius: 3px;
}

.comment-add-heading {
    margin: 0.3rem;
}

.comment-body {
    display: inline-block;
}

.comment-body textarea {
    display: block;
    width: 45rem;
}

.comment-body input {
    display: block;
}

.comment-body span {
    display: block;
    margin-top: 0.25rem;
    width: 45rem;
}