.category-add {
    padding: 0.3em;
    margin: 0.3em;
}

.category-add h4 {
    padding: 0;
    margin: 0 0 0.25rem 1px;
}

.post-title {
    display: inline-block;
    width: 45rem;
    font-weight: bold;
    margin-bottom: 0.125rem;
}

.post-author-add {
    width: 10rem;
    color: midnightblue;
    font-weight: bolder;
}

.post-title-add {
    display: inline-block;
    width: 35rem;
    font-weight: bold;
    margin-bottom: 0.125rem;
}

.post-category-span {
    font-size: smaller;
}

.post-category {
    display: inline-block;
    width: 10rem;
    margin-bottom: 0.125rem;
}

.post-add-body {
    display: block;
    font-family: inherit;
    resize: vertical;
    width: 60rem;
    margin: 0;
}

.post-add-controls {
    margin-top: 0.5rem;
}

.post-add-controls button {
    display: inline-block;
    margin-right: 0.25rem;
}
